		html,body{
			height: 100%
		}
		
		body {
			font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
			font-size: small;
			padding: 0;
			margin: 0;
			
		}

        label {
width:150px;    /*Or however much space you need for the form’s labels*/
    float:left;
}
		
		#tracks-wrapper {
			min-height: 100%;
			position: relative;
		}
		
		#tracks-header {
			background-color: #242B40;
			height: 80px;
			padding: 3px;
			box-shadow: 0px 1px 3px 1px #B3C2D1;
		}
		
		#tracks-logo {
		color: #FFF;
		font-size: 30px;
		text-decoration: none;
		float: left;
		position: relative;
		}
		

		#tracks-menu {
			position: relative;
			margin-left: 150px;
			top: 20px;
			margin-right: 0px;
		}

        #login {
			position: absolute;
            right: 20px;
            top: 20px;
            float: right;
		}
		#tracks-menu  li, #login li {
			display:inline;
			margin-right: 8px;
		}
		
		#tracks-menu  li a, #login li a {   
			border-radius: 6px;
			text-align: center;
			width: 78px;
			padding: 7px;
			background-color: #404464;
			color: #C8CFDA;
			text-decoration: none;
		}

		#tracks-menu  li a:hover, #login li a:hover {
			background-color:#9B1C26;
		}
		
		#tracks-body {
			padding-bottom: 60px !important;
			padding: 3px;
		}
		
		#tracks-body-content-menu {
			float: left;
			width: 150px;
			padding: 5px;
			background-color: #242B40;
			box-shadow: 0px 1px 3px 1px #B3C2D1;
			color: #FFF;
		}
		
		#tracks-body-content-menu ul {
			list-style: none;
			padding: 0;
		}
		
		
		#tracks-body-content, #tracks-body-title {
			margin-left: 170px;
		}
		
		#tracks-footer {
			background-color: #242B40;
			height: 50px;
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			box-shadow: 0px -1px 3px 1px #B3C2D1;
			color: #FFF;
		}

		#tracks-footer-content {
			padding: 3px;
			text-align: center;
		}


/********************
*   Mobile Styles   *
********************/
@media only screen and (max-width: 850px) {

    /* header
    ----------------------------------------------------------*/
    header .float-left,
    header .float-right {
        float: none;
    }

    /* logo */
    header .site-title {
        margin: 10px;
        text-align: center;
    }

    /* login */
    #login {
        font-size: .85em;
        margin: 0 0 12px;
        text-align: center;
    }

        #login ul {
            margin: 5px 0;
            padding: 0;
        }

        #login li {
            display: inline;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        #login a {
            background: none;
            color: #999;
            font-weight: 600;
            margin: 2px;
            padding: 0;
        }

        #login a:hover {
            color: #333;
        }

    /* menu */
    nav {
        margin-bottom: 5px;
    }

    ul#menu {
        margin: 0;
        padding: 0;
        text-align: center;
    }

        ul#menu li {
            margin: 0;
            padding: 0;
        }


    /* main layout
    ----------------------------------------------------------*/
    .main-content,
    .featured + .main-content {
        background-position: 10px 0;
    }

    .content-wrapper {
        padding-right: 10px;
        padding-left: 10px;
    }

    .featured .content-wrapper {
        padding: 10px;
    }

    /* page content */
    article, aside {
        float: none;
        width: 100%;
    }

    /* ordered list */
    ol.round {
        list-style-type: none;
        padding-left: 0;
    }

        ol.round li {
            padding-left: 10px;
            margin: 25px 0;
        }

            ol.round li.zero,
            ol.round li.one,
            ol.round li.two,
            ol.round li.three,
            ol.round li.four,
            ol.round li.five,
            ol.round li.six,
            ol.round li.seven,
            ol.round li.eight,
            ol.round li.nine {
                background: none;
            }

     /* features */
     section.feature {
        float: none;
        padding: 10px;
        width: auto;
     }

        section.feature img {
            color: #999;
            content: attr(alt);
            font-size: 1.5em;
            font-weight: 600;
        }

    /* forms */
    input {
        width: 90%;
    }

    
    
    /* login page */
    #loginForm {
        border-right: none;
        float: none;
        width: auto;
    }

        #loginForm .validation-error {
            display: block;
            margin-left: 15px;
        }

    #socialLoginForm {
        margin-left: 0;
        float: none;
        width: auto;
    }

    /* footer
    ----------------------------------------------------------*/
    footer .float-left,
    footer .float-right {
        float: none;
    }

    footer {
        text-align: center;
        height: auto;
        padding: 10px 0;
    }

        footer p {
            margin: 0;
        }
}
/* END: Mobile Styles */
