		html,body{
			height: 100%
		}
		
		body {
			font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
			font-size: small;
			padding: 0;
			margin: 0;
			
		}

        label {
width:150px;    /*Or however much space you need for the form’s labels*/
    float:left;
}
		
		#tracks_wrapper {
			min-height: 100%;
			position: relative;
		}
		
		#tracks_header {
			background-color: #242B40;
			height: 80px;
			padding: 3px;
			box-shadow: 0px 1px 3px 1px #B3C2D1;
		}
		
		#tracks_logo {
		color: #FFF;
		font-size: 30px;
		text-decoration: none;
		float: left;
		position: relative;
		}
		

		#tracks_menu {
			position: relative;
			margin-left: 190px;
			top: 25px;
			margin-right: 0px;
		}

        #login {
			position: absolute;
            right: 0px;
            padding-right: 5px;
            top: 0px;
            float: right;
			background-color: #404464;
			color: #fff;
			text-decoration: none;
            box-shadow: 0px 1px 3px 1px #212942;
		}

            #login a {
                color: #C8CFDA;
            }

            #login ul,#login p {
            margin: 5px;
padding: 5px;
            }

		#tracks_menu  li, #login li {
			display:inline;
			margin-right: 8px;
		}
		
		#tracks_menu  li a {   
			border-radius: 2px;
			text-align: center;
			width: 78px;
			padding: 4px;
			background-color: #404464;
			color: #C8CFDA;
			text-decoration: none;
            box-shadow: 0px 1px 3px 1px #212942;
		}

		#tracks_menu  li a:hover {
			background-color:#9B1C26;
		}
		
		#tracks_body {
			padding-bottom: 60px !important;
			padding: 3px;
		}
		
		#tracks_body_content_menu {
			float: left;
			width: 150px;
			padding: 5px;
			background-color: #242B40;
			box-shadow: 0px 1px 3px 1px #B3C2D1;
			color: #FFF;
            border-radius: 2px;
		}

            #tracks_body_content_menu a {
                 color: #C8CFDA;
            }
		
		#tracks_body_content_menu ul {
			list-style: none;
			padding: 0;
		}
		
		
		#tracks_body_content, #tracks_body_title {
			margin-left: 170px;
		}
		
		#tracks_footer {
			background-color: #242B40;
			height: 50px;
			width: 100%;
			position: absolute;
			left: 0;
			bottom: 0;
			box-shadow: 0px -1px 3px 1px #B3C2D1;
			color: #FFF;
		}

		#tracks_footer_content {
			padding: 3px;
			text-align: center;
		}



.validation-summary-errors {
color: #FFF;
background-color: #D46262;
padding: 5px;
border: solid 1px #FFF;
box-shadow: 0px 1px 3px 1px #D1B3B3;
border-radius: 2px;
}